.elementIcon {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.patternMatcher {
  width: 95px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs-5) 0 0;
  box-sizing: border-box;
}
.timingControlChild {
  height: 5px;
  flex: 1;
  position: relative;
  border-top: 5px solid var(--color-yellowgreen-100);
  box-sizing: border-box;
}
.errorHandlerChild {
  width: 15px;
  height: 15px;
  position: relative;
  background-color: var(--color-yellowgreen-100);
}
.errorHandler {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-12xs);
}
.timingControl,
.timingControlWrapper {
  display: flex;
  justify-content: flex-start;
}
.timingControl {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-xl);
}
.timingControlWrapper {
  width: 95px;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-5xs-5) 0 0;
  box-sizing: border-box;
}
.ourPricing {
  /* flex: 1; */
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  min-width: 114px;
}
.shapeSorter {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
  justify-content: center;
}
.chooseTheBest {
  margin: 0;
  width: 760px;
  position: relative;
  font-size: var(--font-size-19xl);
  line-height: 59px;
  text-transform: capitalize;
  font-weight: 600;
  font-family: inherit;
  color: var(--heading);
  display: inline-block;
  flex-shrink: 0;
  max-width: 192%;
}
.numberHandler,
.title {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.title {
  /* width: 756px; */
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 var(--padding-161xl);
  gap: var(--gap-xl);
}
.numberHandler {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 0 0 var(--padding-12xs);
}
.perReport {
  width: 83px;
  position: absolute;
  margin: 0 !important;
  top: 106px;
  right: 164px;
  font-size: var(--font-size-mini);
  line-height: 24px;
  color: var(--color-darkgray-200);
  text-align: center;
  display: inline-block;
  min-width: 83px;
  z-index: 1;
}
.wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: var(--gap-11xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--accent-text-size);
  color: var(--placeholder);
}
.dataProcessor,
.numberHandlerParent {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.numberHandlerParent {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-36xl-7);
}
.dataProcessor {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-mini) var(--padding-7xl) var(--padding-xs);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--paragraph);
}
@media screen and (max-width: 1200px) {
  .title {
    padding-left: var(--padding-71xl);
    padding-right: var(--padding-71xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .chooseTheBest {
    font-size: var(--font-size-11xl);
    line-height: 47px;
  }
}
@media screen and (max-width: 750px) {
  .title {
    padding-left: var(--padding-26xl);
    padding-right: var(--padding-26xl);
    box-sizing: border-box;
  }
  .numberHandlerParent {
    gap: var(--gap-9xl);
  }
}
@media screen and (max-width: 450px) {
  .ourPricing {
    font-size: var(--font-size-lgi);
  }
  .chooseTheBest {
    font-size: var(--font-size-4xl);
    line-height: 35px;
  }
  .title {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
