.icon {
  height: 71px;
  width: 195px;
  position: relative;
  object-fit: cover;
}
.healthiconsuiUserProfile {
  height: 32px;
  width: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.alexCooper {
  position: relative;
  font-size: var(--font-size-base);
  text-transform: capitalize;
  font-weight: 600;
  font-family: var(--font-plus-jakarta-sans);
  color: var(--color-yellowgreen-100);
  text-align: left;
  display: inline-block;
  min-width: 96px;
  white-space: nowrap;
}
.alexCooperWrapper,
.healthiconsuiUserProfileParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.alexCooperWrapper {
  flex-direction: column;
  padding: var(--padding-7xs) 0 0;
}
.healthiconsuiUserProfileParent {
  flex-direction: row;
  gap: var(--gap-4xs);
}
.ictwotoneArrowDropDownIcon {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.ictwotoneArrowDropDownWrapper {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.boxTitleInner,
.frameParent,
.ictwotoneArrowDropDownWrapper {
  display: flex;
  align-items: flex-start;
}
.frameParent {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.boxTitleInner {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) 0 0;
  background-color: transparent;
  width: 194px;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}
.boxTitle,
.boxTitleWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.boxTitle {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.boxTitleWrapper {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 var(--padding-4xs) 0 var(--padding-6xs);
  box-sizing: border-box;
}
