.mobileNo {
  position: relative;
  text-transform: capitalize;
  mix-blend-mode: normal;
  z-index: 1;
}
.frameChild,
.mobileNoParent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: var(--paragraph);
}
.frameChild {
  height: 47px;
  border-radius: var(--br-8xs);
  background-color: var(--white);
  border: 1px solid var(--color-gainsboro-400);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-smi-7) var(--padding-mini)
    var(--padding-3xl);
  font-size: var(--accent-text-size);
  color: var(--color-dimgray-100);
  z-index: 1;
}
.mobileNoParent {
  flex-direction: column;
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-400);
}
