.container {
  overflow: auto;
  /* padding: 20px; */
  height: 100vh;
}
.login {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); /* Responsive grid */
  gap: var(--gap-5xl);
  background-color: var(--white);
  overflow: hidden;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-olivedrab-100);
  font-family: var(--paragraph);
  min-height: 100%;
}

.loginParent {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #7caf2c 0%, #1d4923 100%), url(london.jpg);
  height: 100%;
}
.loginChild {
  max-width: 100%;
  height: auto;
}
.signup {
  margin: 0;
  align-self: stretch;
  height: 54px;
  position: relative;
  font-size: inherit;
  line-height: 68px;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.frameChild,
.frameItem,
.rectangle11Copy2 {
  height: 38px;
  width: 35.4px;
  position: relative;
}
.frameChild,
.frameItem {
  min-height: 38px;
}
.rectangle11Copy2 {
  border-radius: 8.14px;
  display: none;
}
.div,
.path10Icon {
  position: relative;
  z-index: 1;
}
.div {
  display: inline-block;
  min-width: 10px;
  
}
.path10Icon {
  height: 19px;
  width: 0.6px;
}
.group {
  border-radius: 8.14px;
  background-color: var(--color-olivedrab-100);
  /* border: 0 solid var(--color-olivedrab-100); */
  border: none !important;
  border-color: var(--color-olivedrab-100) !important;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs-9) var(--padding-2xs-8) var(--padding-3xs-4)
    var(--padding-sm-9);
  gap: var(--gap-12xs-1);
  color: var(--white);
}
.rectangle11Copy3 {
  height: 38px;
  width: 35.4px;
  position: relative;
  border-radius: var(--br-8xs);
  min-height: 38px;
  border-color: var(--color-olivedrab-100);
  border-style: solid;
  text-align: center;
}
/* when rectangle11Copy3 input is active */
.rectangle11Copy3.active {
  border-color: var(--color-olivedrab-100);
  width: 40px;
}
.frameParent3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs-1);
}
.div1,
.resendOtp {
  position: relative;
  line-height: 20px;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.div1 {
  mix-blend-mode: normal;
  min-width: 39.4px;
}
.resendOtp {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  font-size: var(--accent-text-size);
  font-family: var(--paragraph);
  color: var(--color-olivedrab-100);
  text-align: left;
  min-width: 92.3px;
}
.parent {
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 2.2px;
  gap: 0.4px;
}
.frameParent2,
.frameWrapper1,
.parent {
  display: flex;
  align-items: flex-start;
}
.frameWrapper1 {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-4xs) 0 0;
  font-size: var(--accent-text-size);
  color: var(--color-olivedrab-400);
}
.frameParent2 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frameDiv,
.frameParent1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frameParent1 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
}
.frameDiv {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-base) 0 var(--padding-2xs-9);
  box-sizing: border-box;
}
.login1 {
  position: relative;
  font-size: var(--icon-small-size);
  letter-spacing: 0.01em;
  font-family: var(--paragraph);
  color: var(--white);
  text-align: left;
  display: inline-block;
  min-width: 69px;
}
.loginWrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-smi) var(--padding-xl);
  background-color: transparent;
  align-self: stretch;
  border-radius: var(--br-481xl);
  background: linear-gradient(101.58deg, #79ac2c, #234f23);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.b,
.enterLoginDetails {
  font-family: var(--paragraph);
}
.enterLoginDetails {
  font-weight: 600;
  color: var(--color-olivedrab-100);
}
.b {
  color: #818181;
}
.createAnAccount {
  text-decoration: underline;
  font-weight: 600;
}
.enterLoginDetailsContainer {
  text-decoration: none;
  width: 301px;
  position: relative;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  display: inline-block;
  color: inherit;
}
.enterLoginDetailsOrCreateWrapper,
.frameGroup,
.frameParent4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.enterLoginDetailsOrCreateWrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-28xl) 0 var(--padding-24xl);
}
.frameGroup,
.frameParent4 {
  flex-direction: column;
}
.frameParent4 {
  align-self: stretch;
  gap: var(--gap-lgi);
  text-align: center;
  font-size: var(--accent-text-size);
  color: var(--color-midnightblue);
}
.frameGroup {
  flex: 1;
  gap: 43.4px;
  max-width: 100%;
}
.frameContainer {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs) 0 2.9px;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-mini-9);
  color: var(--white);
}
.frameContainer,
.frameWrapper,
.signupParent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.signupParent {
  width: 398.7px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-9xl);
}
.frameWrapper {
  width: 607.1px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.frameParent,
/* .login, */
.loginInner {
  display: flex;
  justify-content: flex-start;
}
.frameParent {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-end;
  gap: 152px;
  max-width: 100%;
}
.login,
.loginInner {
  align-items: flex-start;
}
.loginInner {
  width: 640px;
  flex-direction: column;
  padding: var(--padding-17xl) 0 0;
  box-sizing: border-box;
  min-width: 640px;
  max-width: 100%;
}
.login {
  width: 100%;
  position: relative;
  background-color: var(--white);
  overflow: hidden;
  flex-direction: row;
  gap: var(--gap-5xl);
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-olivedrab-100);
  font-family: var(--paragraph);
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 800px) {
  .signup {
    font-size: var(--font-size-13xl);
    line-height: 54px;
  }
  .frameParent {
    gap: 76px;
  }
}

@media screen and (max-width: 450px) {
  .signup {
    font-size: var(--font-size-5xl);
    line-height: 41px;
  }
  .frameGroup {
    flex-direction: column; /* Change to column layout */
    gap: var(--gap-3xl);
  }
  .frameParent {
    gap: var(--gap-19xl);
  }
}

/* Additional adjustments for smaller screens */
@media screen and (max-width: 320px) {
  .login1 {
    font-size: var(--font-size-base); /* Adjust login text size */
  }
  .enterLoginDetailsOrCreateWrapper {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  
  .frameParent {
    flex-direction: column; /* Adjust layout to column on smaller screens */
    gap: var(--gap-3xl);
  }
  
  .frameWrapper {
    width: auto; /* Remove fixed width to allow content to expand */
    padding: 0; /* Remove padding */
  }
}