.profileChild {
  width: 233px;
  height: 237px;
  position: relative;
  border-radius: var(--br-12xl);
  background-color: var(--color-gray-700);
  backdrop-filter: blur(40px);
  border: 1px solid var(--color-gray-600);
  box-sizing: border-box;
  display: none;
}
.healthiconsuiUserProfile {
  height: 32px;
  width: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.alexCooper {
  align-self: stretch;
  position: relative;
  text-transform: capitalize;
  z-index: 1;
}
.alexCooperWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.ictwotoneArrowDropDownIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
  z-index: 1;
}
.alexCooperLabel,
.alexCooperLabelWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.alexCooperLabel {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-9xl);
}
.alexCooperLabelWrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-9xs) 0 0;
}
.container,
.healthiconsuiUserProfileParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.healthiconsuiUserProfileParent {
  flex: 1;
  gap: var(--gap-4xs);
}
.container {
  align-self: stretch;
  padding: 0 var(--padding-11xs) 0 var(--padding-12xs);
}
.profileItem {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-gray-500);
  box-sizing: border-box;
  z-index: 1;
}
.vuesaxboldelement3Icon {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
  z-index: 1;
}
.dashboard {
  align-self: stretch;
  position: relative;
  text-transform: capitalize;
  z-index: 1;
}
.dashboardWrapper,
.profileInner,
.vuesaxboldelement3Parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.dashboardWrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
}
.profileInner,
.vuesaxboldelement3Parent {
  flex-direction: row;
}
.vuesaxboldelement3Parent {
  flex: 1;
  gap: var(--gap-2xs);
}
.profileInner {
  width: 139px;
  padding: 0 var(--padding-6xs);
  box-sizing: border-box;
}
.lineDiv {
  align-self: stretch;
  height: 1px;
  border-top: 1px solid var(--color-gray-500);
  box-sizing: border-box;
}
.icon,
.lineDiv,
.profile1 {
  position: relative;
  z-index: 1;
}
.icon {
  height: 24px;
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.profile1 {
  text-transform: capitalize;
  display: inline-block;
  min-width: 53px;
}
.frameDiv,
.iconParent,
.profileWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.profileWrapper {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
}
.frameDiv,
.iconParent {
  flex-direction: row;
}
.iconParent {
  gap: var(--gap-2xs);
}
.frameDiv {
  padding: 0 var(--padding-6xs);
}
.profileChild1 {
  align-self: stretch;
  height: 1px;
  border-top: 1px solid var(--color-gray-500);
  box-sizing: border-box;
}
.helpIcon,
.profileChild1,
.support {
  position: relative;
  z-index: 1;
}
.helpIcon {
  height: 24px;
  width: 24px;
  min-height: 24px;
}
.support {
  text-transform: capitalize;
  display: inline-block;
  min-width: 68px;
}
.helpParent,
.profileInner1,
.supportWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.supportWrapper {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
}
.helpParent,
.profileInner1 {
  flex-direction: row;
}
.helpParent {
  gap: var(--gap-2xs);
}
.profileInner1 {
  padding: 0 var(--padding-6xs);
}
.profileChild2 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-gray-500);
  box-sizing: border-box;
  z-index: 1;
}
.vuesaxbulkloginIcon {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
  z-index: 1;
}
.logout {
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  min-width: 58px;
  z-index: 1;
}
.logoutWrapper,
.profileInner2,
.vuesaxbulkloginParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.logoutWrapper {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
}
.profileInner2,
.vuesaxbulkloginParent {
  flex-direction: row;
}
.vuesaxbulkloginParent {
  gap: var(--gap-2xs);
}
.profileInner2 {
  padding: 0 var(--padding-6xs);
}
.profile {
  width: 233px;
  letter-spacing: normal;
  line-height: normal;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--white);
  font-family: var(--paragraph);
  box-sizing: border-box;
  width: 233px;
  left: calc(50% - 233px / 2);
  top: calc(50% - 237px / 2);
  padding: 0.25rem;
  background: rgba(131, 131, 131, 0.2);
  backdrop-filter: blur(20px);
  border-radius: 0 0 31px 31px;
}
